.container {
    display: flex;
    background: #91B4B2;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
}

@media (min-width: 1100px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
        width: 1100px;
    }
}

#root {
    background: #f4fbfd;
}

